/* * COMMON GRID */
.common-grid {
  grid-template-columns: 500px 500px;
  align-items: center;
  padding: 40px 60px;
  color: #004037;
  display: grid;
  gap: 140px;
}

/* * H2 TAG */

.h2-primary {
  font-size: 50px;
}

/* *BUTTON */

.primary-btn {
  border: 1px solid #383838;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 14px;
}

.primary-btn:hover i {
  transform: translateX(2px);
}

.primary-btn:hover {
  border-color: #ababab;
}
