@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "YourFontName";
  src: url("/MontserratAlternates-Medium.otf") format("otf");
  /* Other font-face properties such as font-weight and font-style may be included here */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 5;
}

body {
  font-family: "Roboto";
  position: relative;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}
#container {
  position: relative;
}

/* *HEADER SECTION */

#header {
  grid-template-columns: 600px 260px;
  background-color: #ffffff;
  box-sizing: content-box;
  margin-bottom: 30px;
  padding: 20px 40px;
  position: fixed;
  display: grid;
  width: 100%;
  z-index: 9;
  gap: 360px;
  top: 0;
}

#menu {
  align-items: center;
  display: flex;
  gap: 20px;
}

#menu img {
  color: #007c66;
  height: 24px;
}
#menu ul {
  font-size: 14px;
  display: flex;
  gap: 20px;
}

.li-el {
  font-family: "Roboto";
  align-items: center;
  color: #000000;
  display: flex;
  cursor: pointer;
}

.li-el span {
  padding-right: 6px;
}
.li-el i {
  font-size: 12px;
  transition: transform 0.5s linear;
}

#login {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  gap: 30px;
}

.sign-in a {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.sign-in {
  position: relative;
}
.sign-in::after {
  transition: all 0.3s ease;
  background-color: #e7e7e7;
  position: absolute;
  bottom: -7px;
  height: 2px;
  width: 40px;
  content: "";
  left: 4px;
}

.sign-in:hover::after {
  bottom: -4px;
}

.create-account a {
  background-color: #017660;
  border-radius: 30px;
  padding: 7px 20px;
  color: #ffffff;
  border: 0;
}

.popUp {
  opacity: 0;
  z-index: 10;
  transition: opacity 0.8s ease;
  position: fixed;
  background-color: rgb(255, 255, 255);
  /* height: 90px;
  width: 90px; */
  /* top: 90px; */
  padding: 20px 20px;
  border-radius: 8px;
}

#forMember {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  top: 64px;
  left: 205px;
}

#forMember img {
  max-width: 270px;
  max-height: 245px;
  margin-bottom: 20px;
}
#forMember p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 5px;
}
#forMember blockquote {
  font-size: 15px;
  color: #8f8f8f;
  padding-left: 5px;
  margin-bottom: 20px;
}

#ourSolution {
  display: grid;
  padding: 30px;
  grid-template-columns: 310px 310px;
  gap: 30px;
  top: 64px;
  left: 205px;
}

.block-ourSolution {
  display: grid;
  grid-template-columns: 80px 250px;
}

.block-ourSolution img {
  width: 50px;
}

.block-ourSolution div strong {
  color: #0d6d5c;
}

.block-ourSolution div blockquote {
  margin-top: 10px;
  font-size: 14px;
  color: #707070;
}

#dataInsight {
  display: grid;
  grid-template-columns: 320px 320px;
  gap: 30px;
  top: 64px;
  left: 205px;
}

.dataInsight-section-1 {
  background-image: url(https://images.pexels.com/photos/3769146/pexels-photo-3769146.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 25px 20px;
  border-radius: 8px;
  color: white;
  height: 290px;
  display: flex;
  width: 300px;
}

.dataInsight-section-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataInsight-rightGrid {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #1b8470;
  gap: 40px;
  transition: background-color 0.4s linear;
}

.dataInsight-rightGrid:hover {
  background-color: #f9faf8;
}

.section-2-part-2 {
  background-color: #f9faf8;
  display: flex;
  border-radius: 8px;
}

.section-2-part-2 img {
  width: 90px;
  height: 90px;
  border-radius: 8px 0 0 8px;
}

.section-2-part-2 a {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 10px;
}

.section-2-part-2 a small {
  color: #1b8470;
}
.section-2-part-2 a p {
  color: #5d5d5d;
  font-size: 14px;
}

.hideAndSeek {
  opacity: 1;
}

/* *PAGE 1 */
#page-1 {
  z-index: 0;
  /* margin-top: 80px;
  margin-bottom: 90px; */
  background-color: #f9faf8;
  padding: 80px 40px;
}

#page-1 h1 {
  transition: animation 1s ease-in;
  font-family: "YourFontName";
  letter-spacing: -0.217px;
  animation-duration: 1s;
  animation-name: popUp;
  line-height: 85.26px;
  font-family: "Muli";
  animation-delay: 0s;
  padding-top: 70px;
  color: #004037;
  text-align: left;
  font-size: 87px;
}

@keyframes popUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

#page-1 img {
  margin: 56px 0;
  width: 1180px;
}

#families {
  position: relative;
  padding-left: 40px;
  display: flex;
}

#families img {
  position: absolute;
  height: 35px;
  width: 35px;
  left: -10px;
  top: -55px;
}

#families div p {
  margin-bottom: 15px;
}

#families div p i {
  padding-left: 5px;
  font-size: 15px;
}

#families div blockquote {
  color: #5f5f5f;
  font-size: 14px;
}

#details-page-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px 0;
  display: grid;
  gap: 6px;
}

/* *PAGE 2 */
#page-2 {
  background-color: #fff;
  padding-top: 100px;
  text-align: center;
  min-height: 80vh;
}

#page-2 .top-h2 {
  color: #004037;
  font-size: 50px;
}

#page-2 .center-img {
  margin-bottom: 50px;
  padding: 80px 0;
  width: 1200px;
}

/* .grid-section {
  grid-template-columns: 500px 500px;
  align-items: center;
  padding: 40px 60px;
  color: #004037;
  display: grid;
  gap: 140px;
} */

.grid-section img {
  width: 500px;
}

.grid-section h2 {
  padding-bottom: 30px;
  line-height: 1;
}

.grid-section p {
  line-height: 1.5;
  color: #636363;
}

.grid-section-2 img {
  order: 2;
}

.grid-section-4 {
  background-color: #004037;
  padding: 80px 60px;
  color: #fff;
}

#grid-section-4-p {
  color: #fff;
}

#grid-section-4-btn {
  background-color: #004037;
  border-color: #fff;
  color: #fff;
}

/* * Page-3 */
#page-3 {
  margin-top: 60px;
}

#page-3 h3 {
  text-align: center;
  color: #004037;
  font-size: 40px;
}

.page-3-card {
  grid-template-columns: 390px 390px 390px 390px 390px 390px 390px 390px 390px 390px 390px 390px;
  overflow-x: hidden;
  display: grid;
  gap: 20px;
}
#card-1 {
  margin: 200px 0 30px 0;
}

#card-2 .card {
  animation-direction: reverse;
}
.page-3-card .card {
  animation-name: sliderAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: transfrom 7s linear;
  animation-play-state: running;
  background-color: #f9faf8;
  animation-duration: 26s;
  border-radius: 30px;
  align-items: center;
  padding: 30px 40px;
  color: #017660;
  line-height: 1.5;
  width: 380px;
  border: 0;
}

.card p {
  padding-bottom: 25px;
  font-size: 18px;
}

.card span {
  font-size: 14px;
}

.card span strong {
  padding-right: 15px;
}

@keyframes sliderAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* *PAGE 3 DOWN WORD WORK */
.resources {
  align-items: center;
  margin-top: 200px;
  padding: 0 40px;
  display: flex;
  gap: 800px;
}

.h4-primary {
  line-height: 44px;
  padding-top: 25px;
  color: #004037;
  font-size: 35px;
}

.resources-btn {
  border-color: #bcbcbc;
}

/* *RSOURCES BOTTOM PART */
.resources-bottom {
  grid-template-columns: 780px 360px;
  padding: 40px 40px;
  display: grid;
  gap: 30px;
}

.left-grid {
  background-color: #f9faf8;
  text-align: justify;
  border-radius: 2px;
  padding: 50px;
  width: 780px;
}
.left-grid small {
  text-transform: capitalize;
}

.left-grid blockquote {
  padding: 30px 0;
  color: #707070;
  font-size: 18px;
}

.right-grid {
  text-align: left;
  width: 370px;
}

.right-grid div {
  padding-left: 25px;
}

.right-grid img {
  margin-bottom: 50px;
  border-radius: 2px;
  height: 360px;
  width: 370px;
}

.right-grid small {
  margin-top: 30px;
  text-transform: uppercase;
}

#bottom-resources-btn {
  font-weight: bold;
  color: #017660;
  font-size: 15px;
  padding: 0;
  border: 0;
}

/* *PAGE 3 END  */
#page-3-end {
  margin: 100px 0;
  padding: 100px 80px;
  background: linear-gradient(to right, #0d2b25 50%, #017660 50%);
  color: #fff;
}

#page-3-end h2 {
  line-height: 1.2;
}

#page-3-end-right button {
  background-color: #1b8470;
  color: #fff;
  border: 0;
}

/* *FOOTER  */

.upper-footer {
  display: grid;
  grid-template-columns: 310px 200px 200px 200px 200px;
  gap: 20px;
  padding: 40px 40px;
}

.new-signUp {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 300px;
}

.new-signUp span {
  font-size: 16px;
  font-weight: 500;
}

.new-signUp img {
  width: 115px;
  padding-bottom: 35px;
}

.new-signUp input {
  padding: 10px 15px;
  width: 280px;
  border: 0;
}

.new-signUp input:focus {
  outline: none;
}

.new-signUp p {
  border: 0;
  border-bottom: 2px solid #d3e5e3;
  width: 290px;
}

.new-signUp p i {
  position: absolute;
  font-size: 14px;
  color: #21a28a;
  right: 15px;
  bottom: 90px;
}

.new-signUp div {
  margin-top: 60px;
  font-size: 20px;
}

.new-signUp div a i {
  color: black;
}
.new-signUp div i:first-child {
  padding-right: 40px;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  width: 200px;
}

.footer-grid strong {
  font-size: 16px;
  color: #5a5a5a;
  margin-bottom: 15px;
}

.footer-grid a {
  display: block;
  color: #9a9a9a;
}

.footer-grid a:hover {
  text-decoration: underline;
}

.lower-footer {
  display: flex;
  padding: 150px 40px 120px;
  gap: 545px;
}
.lower-footer p small {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: normal;
  text-align: start;
  color: #004037;
}

.lower-footer div {
  display: flex;
  gap: 15px;
}

.lower-footer div a {
  text-decoration: underline;
  color: #004037;
  font: 11px;
  letter-spacing: normal;
  text-align: start;
  line-height: 16.5px;
}
